html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
#app {
  width: 100vw;
  height: 100vh;
}
/* This could be used but is not a must...? 
.webservice {
  background: rgb(0, 122, 204);
}
.apimanagement {
  background: rgb(255, 0, 255);
}
.database {
  background: brown;
}
.functionapp {
  background: orange;
}
.cache {
  background: blue;
}
.cache {
  background: blue;
}
.containerapp {
  background: red;
}

.logicapp {
  background: green;
} */